/* flex box flex container */

div.container div.kotak{
    width: 150px;
    /* display: flex; */
    margin: 20px;
    text-align: center;
    font-size: 100px;
    line-height: 140px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: khaki;
}

.container{
    display: flex;
    /* flex-wrap: nowrap; */
    background-color: salmon;
}
/* 
1.flex-direction
2.flex-wrap
3.flex-flow
4.justify-content
5.align-items
6.align-content
*/

/*1.flex direction*/
/* 
1.row
2.row-reverse
3.column
4.column-reverse
*/
/* .container{
    flex-direction:row-reverse
} */

/*2. flex wrap */
/*
1.wrap
2.wrap-reverse
3.nowrap 
 */
.container{
    flex-direction: row-reverse;
}

/*3. flex flow */
/* flex flow = short hand */
/* 
    selector{
        flex-grow : flex-direction : flex-wrap

*/
/* .container{
    flex-flow: row wrap;
} */

/*4.justify content */
/* 
space between
space around
space evenly
flex end 
flex start
end
start
left
right
center
*/
.container{
    flex-wrap: wrap;
    justify-content:center;
    justify-content:space-around
}

/*5.align item */
/* .container{
    align-items: baseline;
    justify-content: center;
    height: 250px;
}
*/
/*6.align content*/
/* 
space between
space around
space evenly
flex end 
flex start
end
start
left
right
center
*/
.container{
    height: 600px;
    flex-wrap: wrap;
    overflow: scroll;
    align-content:center;
}

